.chitestimate-view-screen .custom-button{
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
 font-size: 15px;
 border-radius: 5px;
  
}
.chitestimate-view-screen .custom-button:hover{
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}
.chitestimate-view-screen{
  margin-left: 35px;
  margin-right: 35px;
}
.chitestimate-view-screen .input-box{
    width: 100%;
  }
  .chitestimate-view-screen .groupcode-column{
    width: 16%;
  }
  .chitestimate-view-screen .amount-column{
    width: 14%;
  }
  .chitestimate-view-screen .duration-column{
    width: 30%;
    padding-left: 65px;
  }
  .chitestimate-view-screen .duration{
    padding-left: 65px;
  }
  .chitestimate-view-screen .auction-column{
    width: 16%;
    
  }
  .chitestimate-view-screen .search-text-field .MuiInputBase-input {
    padding: 8px;
  }
  
  .chitestimate-view-screen .search-icon-adornment {
    margin-right: -8px; 
  }
  
  .chitestimate-view-screen  .search-icon {
    margin-left: -12px; 
    width: 20px;
    height: 20px;
  }
  @media(max-width:768px){
    .chitestimate-view-screen  .mbl-view{
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 10px;
    }
    .chitestimate-view-screen .action-column {
      width: 10%;
  }
    .chitestimate-view-screen{
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
  }