.chitauction-add-screen .custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;
border-radius: 5px;

}

.chitauction-add-screen .custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}
.chitauction-add-screen {
  margin-left: 35px;
  margin-right: 35px;
}
.chitauction-add-screen .table-one {
  height: auto !important;
}

.chitauction-add-screen .pd {
  padding-right: 0px !important;
}

.chitauction-add-screen .box-grid {
  border: 1px solid #ccc;
  /* margin-left: 17px;
  margin-right: 4px; */
  margin-top: 15px;
  margin-bottom: 25px;
  max-width: 48% !important;
  padding-bottom: 20px;
  padding-right: 10px;
}

.chitauction-add-screen .auction-box {
  display: flex !important;
  flex-wrap: wrap !important;
}

.chitauction-add-screen .auction-grp {
  flex: 1 0 49%;
  max-width: 49%;
  flex-wrap: wrap;
}

.chitauction-add-screen .mb-grid {
  display: flex;
  justify-content: space-around;
}

.chitauction-add-screen .con {
  padding: 20px;
}

.chitauction-add-screen .auction-grp .input-box1 {
  margin-top: 5px !important;
  width: calc(100% - 20px) !important;
}

.chitauction-add-screen .auction-grp .input-box2 {
  width: calc(100% - 30px);

}

.chitauction-add-screen .auction-grp .MuiAutocomplete-root .MuiTextField-root {
  width: calc(100% - 20px) !important;
}
.chitauction-add-screen .dialog-grp {
  display: flex;
}

.chitauction-add-screen .dialog-grp .auction-box {
  width: 100%;
}

.chitauction-add-screen .dialog-grp .auction-box div.auction-grp {
  width: 49% !important;
}
.chitauction-add-screen .alert-msg {
  display: flex;
  align-items: center;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}

.chitauction-add-screen .st .css-jjtu05 {
  height: auto !important;
}

.chitauction-add-screen .Muipopper-root {
  background-color: #ccc !important;
}
.chitauction-add-screen  .head_sub {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.chitauction-add-screen .head_ans {
  font-size: 14px !important;
  color: #212B36 !important;
  margin-top: 5px !important;
  margin-left: 17px;
}
@media (max-width:991px) {
  .chitauction-add-screen .box-grid {
    max-width: 100% !important;
    padding-bottom: 20px;

  }

  .chitauction-add-screen .pd {
    padding-right: 15px !important;
  }

  .chitauction-add-screen .auction-grp .input-box1.md {
    margin-right: 0px !important;

  }
}

.chitauction-add-screen .error_txt {
  margin-left: 17px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
  font-weight: 500
}
.chitauction-add-screen .MuiTextField-root{
margin: 7px 16px;
}

/* @media (min-width:1600px) and (max-width:2000px){

  .box-grid {
    margin-left: 22px;
}
}  */
.chitauction-add-screen .one-show { order: 1; }
.chitauction-add-screen .two-show { order: 2; }
.chitauction-add-screen .three-show { order: 3; }
.chitauction-add-screen .four-show { order: 4; }
.chitauction-add-screen .five-show { order: 5; }
@media screen and (max-width: 768px) {
  .chitauction-add-screen .auction-grp .box-d .MuiStack-root>.MuiTextField-root {
    margin-top: 5px;
    min-width: -webkit-fill-available !important;
    margin-right: 0px;
  }
  .chitauction-add-screen {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .chitauction-add-screen .auction-box {
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit;
  }

  .chitauction-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
    margin-left: 15px !important;

  }

  .chitauction-add-screen  .mb-grid {
    margin: 0px;
    flex-direction: column;
  }

  .chitauction-add-screen .alert-msg {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }

  .chitauction-add-screen .grp-label {
    width: calc(100% - 0px) !important;
  }

  .chitauction-add-screen .auction-grp {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0px !important;
  }

  .chitauction-add-screen .auction-box .MuiTypography-root {
    margin-left: 16px !important;
    font-size: 13px;
  }

  .chitauction-add-screen .auction-grp .input-box1 {
    width: calc(100% - 0px) !important;
    margin-right: 0px;
  }

  .chitauction-add-screen .con {
    padding: 10px;
  }
}

@media (min-width:769px) and (max-width:1098px) {
  .chitauction-add-screen .auction-grp {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0px !important;
  }
  .chitauction-add-screen .auction-box {
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit;
  }
}

@media (min-width:360px) and (max-width:540px) {
  .chitauction-add-screen .one-show { order: 3; }
  .chitauction-add-screen .two-show { order: 4; }
  .chitauction-add-screen .three-show { order: 1; } 
  .chitauction-add-screen .four-show { order: 2; }  
  .chitauction-add-screen .five-show { order: 5; } 
  
 
  .chitauction-add-screen .btn-mbl{
    display: flex;
    flex-wrap: wrap !important;
    gap: 15px;
  }
  .chitauction-add-screen .btn-close {
    right: -1px;
    top: -2px;
  }

  .chitauction-add-screen .btn-close img {
    width: 14px !important;
    height: 14px !important;
  }

  .chitauction-add-screen h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;

  }

  .chitauction-add-screen  .custom-button {
    font-size: 14px;
    margin-right: 0px;
  }
  .chitauction-add-screen .reset_btn,
  .chitauction-add-screen .delete_btn{
    margin-right: 0px;
  }
}

.chitauction-add-screen .rowExists {
  background-color: rgba(24, 119, 242, 0.16);
}

.chitauction-add-screen .table-one .MuiTextField-root {
  margin: 0px !important;

}

.chitauction-add-screen .show-estimate {
  font-size: 16px;
  color: #b7adb0;
  margin-top: 5px;
}


  .chitauction-add-screen .auction-grp .box-d .MuiStack-root {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    padding-top: 0px !important;
  }

  


.chitauction-add-screen .MuiTableCell-root {
  padding: 6px !important;
}



/* mobile screen */
.chitaction-add-member-section .member-add-button-cell{
  padding:0 !important;
  display:none;
}

@media screen and (max-width: 768px) {


  .chitaction-add-member-section {
    display: grid;
    gap: 10px;
    padding: 10px;
  }
  .chitaction-add-member-section .MuiTable-root{
    min-width:280px !important;
  }
  .chitaction-add-member-section .head-table {
    display: none !important; /* Hide table header on mobile */
  }


  .chitaction-add-member-section .MuiTableRow-root {
    display: block;

    padding: 15px 10px;
    background: #fff;
    box-shadow: 0 2px 4px #0000001a;
    border: 1px solid #e7e7e7; 
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap!important;
  }
  .chitaction-add-member-section .member-name-cell-add,
  .chitaction-add-member-section .member-tkt-cell-add
{
  margin-left: 0px !important;
  width: 50% !important;
  text-align: left !important;
}
.chitaction-add-member-section .member-acc-cell-add{
  width:40% !important;
  text-align: left !important;
}


.chitaction-add-member-section .MuiTableCell-root {
    display: block;
    padding: 15px 0;
    position: relative;

  }
.chitaction-add-member-section .MuiTableCell-root{
  border-bottom: 1px solid transparent !important;
} 
.chitaction-add-member-section .MuiTableCell-root::before {
    content: attr(data-label) ": ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 5px;
  }
  .chitaction-add-member-section .MuiTableCell-root:not(.action)::before {
    content: attr(data-label) " ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 5px;
  }
  .chitaction-add-member-section .group-member-list-pagination{
    position: relative;
    top: -14px;
  }

  .chitaction-add-member-section .MuiTableCell-root.action::before {
    content: none;
  }
  .chitaction-add-member-section .row_table_box{
    position: relative;
    padding-top: 20px !important;
      padding-bottom: 0  !important;
  }
  .chitaction-add-member-section .member-add-button-cell{
    padding:0 !important;
    display:block;
  }


}
@media (max-width:500px){
  .chitaction-add-member-section .MuiTableCell-root {
    font-size:13px !important;
  }
  .chitaction-add-member-section .MuiTableCell-root::before{
    font-size:13px !important;
  }
  .chitaction-add-member-section .member-add-button-cell-text{
    font-size: 13px !important;
    height: 30px;
  }
}
@media (max-width:380px){

  .chitaction-add-member-section .MuiTable-root {
        min-width: 200px !important;
    }
} 