.custom-button{
  color: #FFFFFF;
  background-color: #1877F2;

 font-size: 15px;
 
  
}
.custom-button:hover{
  text-decoration: none;
  background-color: #0C44AE;
 
}
.member-box {
    display: flex !important;
   width: 100% !important;
  }
 .box-grp{
    flex: 1 0 48%;
    max-width: 48%;
    flex-wrap: wrap;
  } 
  .detail {
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
    margin: 13px 0px;
    border-radius: 8px solid;
    padding: 10px 0px;
    width: 100%;
  }
  .detail-sub{
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .detail-sub1{
    font-size: 14px !important;
    color: #7e8299 !important;
    margin-top: 5px !important;
  }
  .detail-head{
    font-size: 17px !important;
    font-weight: 500 !important;
  }
  /* .con{
    padding: 20px;
  } */
  
  
 
  .alert-msg{
    display: flex;
    align-items: center;
    text-align-last: center;
    font-size: 18px;
    padding: 10px;
  }
  .Muipopper-root{
    background-color: #ccc !important;
  }
  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
  
}

  @media screen and (max-width: 768px) {
    .table-grid{
      width: 100%;
    }
    .grid-UI{
      display: flex;
      flex-direction: column;
    }
    .grid-UI table{
    width: 100%;
    }
   
    .alert-msg{
      padding: 10px 15px 10px 15px;
      font-size: 15px;
    }
    .grp-label{
      width: calc(97% - 0px) !important; 
    }
   
   
   .member-box .css-mxq89r-MuiTypography-root {
    margin-left: 16px !important;
    font-size: 13px;
   }
  .box-grp  .input-box1 {
        width: calc(100% - 0px) !important; 
      }
      .con{
        padding: 10px;
      }
    }
    @media (min-width:769px) and (max-width:894px){
      .box-grp {
        flex: 1 0 48%;
        max-width: 48%;
        flex-wrap: wrap;
      } 
    }
    @media (min-width:370px) and (max-width:540px){
      .btn-close{
        right: -1px;
        top: -2px;
      }
      .btn-close img{
        width: 14px !important;
        height: 14px !important;
      }
      h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
        font-size: 15px;
       
    }
  
   
    .custom-button{
     font-size: 13px;
     margin-top: 10px;
    }
    }
    @media (min-width:431px) and (max-width:768px){
      .box-grp {
        flex: 1 0 50%;
        max-width: 100%;
        height: auto;
        margin: 4px;
        margin-left: 0px !important; 
      }
    }
    @media (min-width:320px) and (max-width:430px){
      .box-grp {
        flex: 1 0 100%;
        max-width: 100%;
        height: auto;
        margin-left: 0px !important; 
      }
      .member-box{
        flex-direction: column !important;
        width: 100% !important;
        align-items:inherit;
    }
    }