.custom-button{
    background-color: #edf4fe;
   font-size: 15px !important;
    color: #1877f2;
  
    transition: background-color 0.3s ease;
  }
  .custom-button:hover{
    background: rgba(24, 119, 242, 0.16);
  }
.stack-box {
    display: flex !important;
   
  }
 .box-grp{
    flex: 1 0 49%;
    max-width: 49%;
    flex-wrap: wrap;
  } 
  .detail {
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
    margin: 13px 0px;
    border-radius: 8px solid;
    padding: 10px 0px;
  }
  .detail-sub{
    font-size: 17px !important;
    font-weight: 400;
  }
  .detail-sub1{
    font-size: 16px;
    color: #b7adb0;
    margin-top: 5px;
  }
  .con{
    padding: 20px;
  }
  .box-grp .input-box1 {
    
    width: calc(100% - 20px); 
  }
  
  .box-grp .MuiAutocomplete-root  .MuiTextField-root  {
    width: calc(100% - 20px) !important; 
  }
  .alert-msg{
    display: flex;
    align-items: center;
    text-align-last: center;
    font-size: 18px;
    padding: 10px;
  }
  .Muipopper-root{
    background-color: #ccc !important;
  }
  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
  
}
input#outlined-required {
  font-size: 13px !important;
  height: 1.00em !important;
}
  @media screen and (max-width: 768px) {
    .table-grid{
      width: 100%;
    }
    .grid-UI{
      display: flex;
      flex-direction: column;
    }
    .grid-UI table{
    width: 100%;
    }
   
    .alert-msg{
      padding: 10px 15px 10px 15px;
      font-size: 15px;
    }
    .grp-label{
      width: calc(97% - 0px) !important; 
    }
   
   
   .stack-box .css-mxq89r-MuiTypography-root {
    margin-left: 16px !important;
    font-size: 13px;
   }
  .box-grp  .input-box1 {
        width: calc(100% - 0px) !important; 
      }
      .con{
        padding: 10px;
      }
    }
    @media (min-width:769px) and (max-width:894px){
      .box-grp {
        flex: 1 0 48%;
        max-width: 48%;
        flex-wrap: wrap;
      } 
    }
    @media (min-width:370px) and (max-width:540px){
      .btn-close{
        right: -1px;
        top: -2px;
      }
      .btn-close img{
        width: 14px !important;
        height: 14px !important;
      }
      h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
        font-size: 15px;
       
    }
    input#outlined-required {
      font-size: 13px !important;
    }
   
    .custom-button{
     font-size: 13px;
     margin-top: 10px;
    }
    }
    @media (min-width:431px) and (max-width:768px){
      .box-grp {
        flex: 1 0 50%;
        max-width: 100%;
        height: auto;
        margin: 4px;
        margin-left: 0px !important; 
      }
    }
    @media (min-width:320px) and (max-width:430px){
      .box-grp {
        flex: 1 0 100%;
        max-width: 100%;
        height: auto;
        margin-left: 0px !important; 
      }
      .stack-box{
        flex-direction: column !important;
        width: 100% !important;
        align-items:inherit;
    }
    }