/* .grid-container{
border: 0.5px solid #ccc;
} */
.chitestimate-add-screen .custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;
  border-radius: 5px;
}

/* .chitestimate-add-screen .parent-div {
  position: relative;
  padding-bottom: 10%;
} */

.chitestimate-add-screen .sub-button {
  position: relative;
  /* bottom: 1%; */
  left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100px;
}

.chitestimate-add-screen .custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}
.chitestimate-add-screen .estimate-box {
  display: flex;
  flex-wrap: wrap;
}
.chitestimate-add-screen .MuiTableContainer-root {
  width: 100%;
  margin-top: 10px;
}
.chitestimate-add-screen .estimate-table{
  padding-right: 0px;
  padding-left: 10px;
}
.chitestimate-add-screen .estimate-table1{
  padding-right: 10px;
  padding-left: 0px;
}
.chitestimate-add-screen{
  margin-left: 35px;
  margin-right: 35px;
}
.chitestimate-add-screen .MuiTableCell-root {
  padding: 6px !important;
  height: 49px;
}
.chitestimate-add-screen .date_error{
 margin-top: 3px; 
}

.chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(1).no {
  font-size: 12px;
  width:10%; 
}
.chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(2).no1 {
  font-size: 12px;
  width:10%; 
}
.chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(3){
  width:11%; 
}
.chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5){
  /* width:63px ; */
  width: 12%;
}
.chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(7){
  width:12%; ;
}
.chitestimate-add-screen .estimate-grp .input {
  margin-bottom: 5px;
}
.chitestimate-add-screen .search-text-field .MuiInputBase-input {
  padding: 8px;
}
.chitestimate-add-screen .fill-color .MuiInputBase-root.css-ma3s50-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: #000 !important;
}
.chitestimate-add-screen .search-icon-adornment {
  margin-right: -8px; 
}

.chitestimate-add-screen  .search-icon {
  margin-left: -12px; 
  width: 20px;
  height: 20px;
}
.chitestimate-popup-card .MuiTableCell-root.chitestimate-add-button-cell{
display: none;
}

@media (max-width:768px){
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(1) {
    font-size: 12px;
    width:15%; 
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(2){
    font-size: 12px;
    width:15%; 
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(3){
    width:15%; 
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5){
    /* width:63px ; */
    width: 30% !important;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(7){
    width:15%; ;
  }
  .chitestimate-add-screen .custom-button {
    font-size: 14px;
  }
  .chitestimate-add-screen .estimate-table{
    padding-right: 10px;
    padding-left: 10px;
  }
  .chitestimate-add-screen .estimate-table1{
    padding-right: 10px;
    padding-left: 10px !important;
  }
  .chitestimate-add-screen .estimate-box {
    flex-direction: column !important;
    width: 90% !important;
    align-items: inherit;
  }
  .chitestimate-add-screen{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .chitestimate-add-screen .input {
  width: 100% !important;
}
.chitestimate-add-screen  .estimate-grp {
  flex: 1 0 100%;
  max-width: 100%;
  margin-left: 0px !important;
}

}

@media (min-width:800px) and (max-width:899px){
 
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(6) {
    width: 13%;
  }

  .chitestimate-add-screen  .table-one .MuiTableCell-root:nth-child(3) {
    width: 13%;
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(3) {
    width: 13%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(1) {
    width: 10%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(2) {
    width: 10%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(3) {
    width: 10%;
  }
  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(4) {
    width: 20%;
  }
  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5) {
    width: 13%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(6) {
    width: 20%;
  }

}
@media (min-width:300px) and (max-width:600px){
  .chitestimate-add-screen .estimate-box {
   margin-left: 16px;
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root{
    font-size: 12px;
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(4) .MuiInputBase-input {
    width: 70px;
  }
  .chitestimate-add-screen  .table-one .MuiTableCell-root:nth-child(2) .MuiInputBase-input {
    width: 80px;
    
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(2) .MuiIconButton-root {
    width:15px;
    margin-right: 1px;
  }
  .chitestimate-add-screen  .table-one .MuiTableCell-root:nth-child(7) .MuiInputBase-input {
    width: 70px;
  }  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(1)  {
    width: 40px;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(2) .no1 {
    width: 40px;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(4) .MuiInputBase-input {
    width: 90px;
  }
  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5) .MuiInputBase-input {
    width: 45px;
  }
  /* .table-two .MuiTableCell-root:nth-child(6)  {
    width: 100px;
  } */
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(6) .MuiInputBase-input {
    width: 80px;
    
  }
  .chitestimate-add-screen  .sub-button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 10px; */
    left: 10px;
  }
  
  
}
@media(min-width:390px) and (max-width:540px){
  .chitestimate-add-screen .estimate-box {
   
    width: 92% !important;
    
  }
}
/* Mobile View */

  
 /* Mobile View */
 @media(max-width:768px){
  .chitestimate-popup-card .popup-input-stackfield.chit-estimate-add {
   display: flex;
   flex-direction: column;
   align-items: normal;
   gap: 10px;
   margin: 8px 16px 0 16px;
 }
 .chitestimate-popup-card .input-2{
  margin-left: 0;
 }
 .chitestimate-add-screen .chitestimate-popup-card{
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.chitestimate-popup-card.chitestimate-table-scrollbar-div{
  margin: 0 16px !important;
}
.chitestimate-popup-card .chitestimate-table-scrollbar-div{
  max-height:70vh; /* desired max-height */
  overflow-y: auto;  /* Allow scrolling */
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.chitestimate-popup-card .chitestimate-table-scrollbar-div::-webkit-scrollbar {
  display: none;
}
.chitestimate-popup-card .chitestimate-add-table {
  display: grid;
  gap: 10px;
  /* padding: 10px;  */
}
.chitestimate-popup-card .chitpayment-add-table.MuiTable-root{
  min-width:100px !important;
}
.chitestimate-popup-card .MuiTableRow-root.chitestimate-add-headrow{
  display: none !important; /* Hide table header on mobile */
}
.chitestimate-popup-card .MuiTableRow-root.chitestimate-popup-row{
  display: block;
  padding: 15px 10px 0 10px;
  background: #fff;
  box-shadow: 0 2px 4px #0000001a;
  border: 1px solid #e7e7e7; 
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap!important;
}
.chitestimate-popup-card .MuiTableCell-root.chitestimate-popup-membername-cell,
.chitestimate-popup-card .MuiTableCell-root.chitestimate-popup-tktno-cell{
  width: 60% !important;
  border-bottom: none;
}
.chitestimate-popup-card .MuiTableCell-root.chitestimate-popup-memberid-cell{
  width: 40% !important;
  border-bottom: none;
}
.chitestimate-popup-card .MuiTableCell-root.chitestimate-add-button-cell{
  display: block;
  width: 40% !important;
  border-bottom: none;
  padding: 0;
  }
  
.chitestimate-popup-card .MuiTableCell-root{
  display: block;
  padding: 15px 0;
  position: relative;
 
}
.chitestimate-popup-card .MuiTableCell-root{
  border-bottom: 1px solid transparent !important;
  font-size: 13px;
} 
.chitestimate-popup-card  .MuiTableCell-root::before{
  content: attr(data-label) " ";
  font-weight: bold;
  position: absolute;
  left: 0;
  top: -13px;
  width: 50%;
  padding-right: 10px;
  white-space: nowrap;
  margin-top: 10px !important;
}
}
@media (max-width:500px){
.chitestimate-popup-card .chitestimate-add-button-cell-text{
font-size: 11px;
  }
}
@media (max-width:360px){
  .chitestimate-popup-card .MuiTableCell-root{
      font-size: 12px;
    } 
}

 