.custom-button{
    background-color: #edf4fe;
   font-size: 15px;
    color: #1877f2;
    transition: background-color 0.3s ease;
  
  }
  .custom-button:hover{
    background: rgba(24, 119, 242, 0.16);
  }
.stack-box1{
  display: flex;
    flex-wrap: wrap;
  } 
  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
  
}
input#outlined-required {
  font-size: 13px !important;
  height: 1.00em !important;
}
.MuiInputBase-input-MuiFilledInput-input{
  height: 0.453em !important;
}
.MuiTableCell-root {
  padding: 6px !important;
}
.table-one .input-box-date{
width: 200px !important;
}
.MuiFormControl-root-MuiTextField-root{
  height: 1em !important;
}
.table-one .input-box{
  width: 100px !important;
  padding: 0px !important;
  height: 1em !important;
  
}
h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
  font-size: 15px;

}
input#outlined-required {
font-size: 13px !important;
height: 1.00em !important;
}
.MuiInputBase-input-MuiOutlinedInput-input {
  height: 1.00em !important;
  font-size: 16px !important;
 }
.table-one .input-box.MuiInputBase-input-MuiFilledInput-input{
  height: 0.453em !important;
}
.MuiTableRow-root {
 font-size: 15px !important;
  vertical-align: top !important;
 
}
.table-one1 .MuiTableRow-root {
  font-size: 15px !important;
   vertical-align: middle !important;
  
 }
@media (max-width:768px){
  .stack-box1{
        flex-direction: column !important;
        width: 100% !important;
        align-items:inherit;
        padding: 3px;
    }
    .box-grp {
      flex: 1 0 100%;
      max-width: 100%;
      margin-left: 0px !important; 
  padding: 0px 10px;
    }
   .stack-box .MuiTypography-root {
    margin-left: 16px !important;
    font-size: 13px;
   }
  .box-grp  .input-box1 {
        width: calc(100% - 0px) !important; 
      }
      .con{
        padding: 10px;
      }
    }
        .rowExists {
          background-color: rgba(24, 119, 242, 0.16);
        }
