/* .grid-container{
border: 0.5px solid #ccc;
} */
.chitestimate-add-screen .custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;
  border-radius: 5px;
}

/* .chitestimate-add-screen .parent-div {
  position: relative;
  padding-bottom: 10%;
} */

.chitestimate-add-screen .sub-button {
  position: relative;
  /* bottom: 1%; */
  left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100px;
}

.chitestimate-add-screen .custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}
.chitestimate-add-screen .estimate-box {
  display: flex;
  flex-wrap: wrap;
}
.chitestimate-add-screen .MuiTableContainer-root {
  width: 100%;
  margin-top: 10px;
}
.chitestimate-add-screen .estimate-table{
  padding-right: 0px;
  padding-left: 10px;
}
.chitestimate-add-screen .estimate-table1{
  padding-right: 10px;
  padding-left: 0px;
}
.chitestimate-add-screen{
  margin-left: 35px;
  margin-right: 35px;
}
.chitestimate-add-screen .MuiTableCell-root {
  padding: 6px !important;
  height: 49px;
}
.chitestimate-add-screen .date_error{
 margin-top: 3px; 
}

.chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(1).no {
  font-size: 12px;
  width:10%; 
}
.chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(2).no1 {
  font-size: 12px;
  width:10%; 
}
.chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(3){
  width:11%; 
}
.chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5){
  /* width:63px ; */
  width: 12%;
}
.chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(7){
  width:12%; ;
}
.chitestimate-add-screen .estimate-grp .input {
  margin-bottom: 5px;
}
.chitestimate-add-screen .search-text-field .MuiInputBase-input {
  padding: 8px;
}
.chitestimate-add-screen .fill-color .MuiInputBase-root.css-ma3s50-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: #000 !important;
}
.chitestimate-add-screen .search-icon-adornment {
  margin-right: -8px; 
}

.chitestimate-add-screen  .search-icon {
  margin-left: -12px; 
  width: 20px;
  height: 20px;
}
@media (max-width:768px){
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(1) {
    font-size: 12px;
    width:15%; 
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(2){
    font-size: 12px;
    width:15%; 
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(3){
    width:15%; 
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5){
    /* width:63px ; */
    width: 30% !important;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(7){
    width:15%; ;
  }
  .chitestimate-add-screen .custom-button {
    font-size: 14px;
  }
  .chitestimate-add-screen .estimate-table{
    padding-right: 10px;
    padding-left: 10px;
  }
  .chitestimate-add-screen .estimate-table1{
    padding-right: 10px;
    padding-left: 10px !important;
  }
  .chitestimate-add-screen .estimate-box {
    flex-direction: column !important;
    width: 90% !important;
    align-items: inherit;
  }
  .chitestimate-add-screen{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .chitestimate-add-screen .input {
  width: 100% !important;
}
.chitestimate-add-screen  .estimate-grp {
  flex: 1 0 100%;
  max-width: 100%;
  margin-left: 0px !important;
}

}

@media (min-width:800px) and (max-width:899px){
 
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(6) {
    width: 13%;
  }

  .chitestimate-add-screen  .table-one .MuiTableCell-root:nth-child(3) {
    width: 13%;
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(3) {
    width: 13%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(1) {
    width: 10%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(2) {
    width: 10%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(3) {
    width: 10%;
  }
  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(4) {
    width: 20%;
  }
  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5) {
    width: 13%;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(6) {
    width: 20%;
  }

}
@media (min-width:300px) and (max-width:600px){
  .chitestimate-add-screen .estimate-box {
   margin-left: 16px;
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root{
    font-size: 12px;
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(4) .MuiInputBase-input {
    width: 70px;
  }
  .chitestimate-add-screen  .table-one .MuiTableCell-root:nth-child(2) .MuiInputBase-input {
    width: 80px;
    
  }
  .chitestimate-add-screen .table-one .MuiTableCell-root:nth-child(2) .MuiIconButton-root {
    width:15px;
    margin-right: 1px;
  }
  .chitestimate-add-screen  .table-one .MuiTableCell-root:nth-child(7) .MuiInputBase-input {
    width: 70px;
  }  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(1)  {
    width: 40px;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(2) .no1 {
    width: 40px;
  }
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(4) .MuiInputBase-input {
    width: 90px;
  }
  
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(5) .MuiInputBase-input {
    width: 45px;
  }
  /* .table-two .MuiTableCell-root:nth-child(6)  {
    width: 100px;
  } */
  .chitestimate-add-screen .table-two .MuiTableCell-root:nth-child(6) .MuiInputBase-input {
    width: 80px;
    
  }
  .chitestimate-add-screen  .sub-button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 10px; */
    left: 10px;
  }
  
  .chitestimate-add-screen .submit-button {
    position: absolute;  
    left: 0;
  }
  
  
}
@media(min-width:390px) and (max-width:540px){
  .chitestimate-add-screen .estimate-box {
   
    width: 92% !important;
    
  }
}