.chitpayment-add-screen .custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;
border-radius: 5px;

}

.chitpayment-add-screen .custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.chitpayment-add-screen .pad-r {
  padding-left: 14px;
}

.chitpayment-add-screen .value-width {
  width: 20% !important;
}

.chitpayment-add-screen .name-width {
  width: 35.5% !important;
}

.chitpayment-add-screen .pay-box {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
}

.chitpayment-add-screen .box-pay-grp {
  flex: 1 0 48%;
  max-width: 48%;
  flex-wrap: wrap;
  margin-left: 2px !important;
}

.chitpayment-add-screen .view-one {
  border: none !important;
}

.chitpayment-add-screen .pay-grp {
  width: 30.5%;
}

.chitpayment-add-screen .pay-grp .MuiTextField-root {
  width: 100% !important;
  margin: 0px;
}

.chitpayment-add-screen .con {
  padding: 20px;
}

.chitpayment-add-screen .box-pay-grp .input-box1 {
  margin-top: 5px ;
  width: calc(100% - 20px);
}

.chitpayment-add-screen .box-popfix {
  position: relative;
}
.chitpayment-add-screen .pay-gp{
  margin-top: -4px;
}
.chitpayment-add-screen .cancel-btn {
  position: absolute;
  top: 47px;
  right: -25px;
  cursor: pointer;

}
.chitpayment-add-screen .submit{
  margin-top: 10px;
}
.chitpayment-add-screen .chitpayment-add-screen .box-one {
  border: 1px solid #ccc;
  margin-left: 24px;
  margin-right: -17px;
  margin-top: 25px;
  margin-bottom: 25px !important;
  max-width: 48% !important;
  padding-bottom: 20px;
}

.chitpayment-add-screen .bor {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
}

.chitpayment-add-screen .box-pay-grp .MuiAutocomplete-root .MuiTextField-root {
  width: calc(100% - 20px) !important;
}
.chitpayment-add-screen .pay_grid{
  padding-bottom: 20px;
}
.chitpayment-add-screen .alert-msg {
  display: flex;
  align-items: center;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}

.chitpayment-add-screen .pay-grp-mbl {
  flex: 1 0 49%;
  max-width: 49%;
  flex-wrap: wrap;
}

.chitpayment-add-screen .pay-grp-mbl .width-inp {
  width: calc(96.5% - 20px);
}
.chitpayment-add-screen .search-text-field .MuiInputBase-input {
  padding: 8px;
}

.chitpayment-add-screen .search-icon-adornment {
  margin-right: -8px; 
}

.chitpayment-add-screen  .search-icon {
  margin-left: -12px; 
  width: 20px;
  height: 20px;
}
.chitpayment-add-screen .error_txt {
  margin-left: 15px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}
.chitpayment-add-screen  .MuiTextField-root{
  margin: 5px 16px;
}   
.chitpayment-add-screen .ledger_error {
  margin-left: 8px;
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}
.chitpayment-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
  margin-bottom: 2px;

}
.chitpayment-add-screen .mar{
  margin-top: 5px;
}
.chitpayment-add-screen .ledger_error1 {

  margin-top: 8px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}
.chitpayment-add-screen .date-col .date-picker-stack .date-picker{
padding-top:0px !important ;
}
.chitpayment-add-screen{
  margin-left: 35px;
  margin-right: 35px;
}
 .chitpayment-card .chitpayment-add-button-cell{
  display:none;
}
@media (max-width:991px) {
  .chitpayment-add-screen  .box-one {
    max-width: 100% !important;
    padding-bottom: 20px;
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .chitpayment-add-screen .pay_grid {
    padding-bottom: 0px;
}
.chitpayment-add-screen .mar{
  margin-top: 0px;
}
  .chitpayment-add-screen .submit{
    margin-top: 0px;
  }
  .chitpayment-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
margin-left: 0px;
  }
  .chitpayment-add-screen .pay-grp-mbl {
    flex: 0 0 96% !important;
    max-width: 96% !important;
    margin-left: 20px !important;
  }
  .chitpayment-add-screen{
    margin-left: 15px !important;
    margin-right: 15px !important; 
  }
   .chitpayment-add-screen .MuiTextField-root {
     margin: 6px  0px!important; 
} 
  .chitpayment-add-screen .alert-msg {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }

  .chitpayment-add-screen .pay-box {

    width: 100% !important;
    align-items: inherit;
  }

  .chitpayment-add-screen .box-pay-grp {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0px !important;
  
  }

  .chitpayment-add-screen .pay-box .css-mxq89r-MuiTypography-root {
    margin-left: 16px !important;
    font-size: 13px;
  }

  .chitpayment-add-screen .box-pay-grp .input-box1 {
    width: calc(100% - 0px) !important;
  }

  .chitpayment-add-screen .con {
    padding: 10px;
  }
}

@media (min-width:769px) and (max-width:894px) {
  .chitpayment-add-screen  .btn-close {
    right: -1px;
    top: -2px;
  }

  .chitpayment-add-screen  .btn-close img {
    width: 14px !important;
    height: 14px !important;
  }

  .chitpayment-add-screen .box-pay-grp {
    flex: 1 0 48%;
    max-width: 48%;
    flex-wrap: wrap;
   
  }

  .chitpayment-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
    margin-left: 15px !important;

  }
}


@media (min-width:370px) and (max-width:540px) {
  .chitpayment-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
margin-left: 0px;
  }

  .chitpayment-add-screen  .custom-button {
    font-size: 14px;
   
  }
}

@media (min-width: 0px) {
  .chitpayment-add-screen  .box-pay-grp .box-d .MuiStack-root {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    /* padding-top: 0px !important;  */

  }

  .chitpayment-add-screen .box-pay-grp .box-d .MuiStack-root>.MuiTextField-root {
    margin-top: 5px;
    min-width: -webkit-fill-available !important;
  }
}
/* Mobile View */

  
 /* Mobile View */
 @media(max-width:768px){
  .chitpayment-card .chitpayment-card-stack{
    margin-right: 0 !important;
  }
  .chitpayment-card .popup-input-stackfield.chit-payment-add {
   display: flex;
   flex-direction: column;
   align-items: normal;
   gap: 10px;
   margin: 8px 16px 0 16px;
 }
 .chit-payment-add .input2-stack{
  margin-left: 0;
 }
 .chitpayment-add-screen .chitpayment-card{
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.chitpayment-card .chitpayment-table-scrollbar-div{
  margin: 0 16px !important;
}
.chitpayment-card .chitpayment-table-scrollbar-div{
  max-height:70vh; /* desired max-height */
  overflow-y: auto;  /* Allow scrolling */
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.chitpayment-card .chitpayment-table-scrollbar-div::-webkit-scrollbar {
  display: none;
}
.chitpayment-card .chitpayment-popup-tableabove-div{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.chitpayment-card .chitpayment-tablecontainer-div{
  margin-left: 0;
  margin-right: 0; 
}
.chitpayment-card .chitpayment-add-table {
  display: grid;
  gap: 10px;
  /* padding: 10px;  */
}
.chitpayment-card .chitpayment-add-table.MuiTable-root{
  min-width:100px !important;
}
.chitpayment-card .MuiTableRow-root.chitpayment-add-headrow{
  display: none !important; /* Hide table header on mobile */
}
.chitpayment-card .MuiTableRow-root.chitpayment-popup-row{
  display: block;
  padding: 15px 10px 0 10px;
  background: #fff;
  box-shadow: 0 2px 4px #0000001a;
  border: 1px solid #e7e7e7; 
  /* margin: 0 16px 10px 16px; */
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap!important;
}

.chitpayment-card .MuiTableCell-root.chitpayment-popup-groupno-cell,
.chitpayment-card .MuiTableCell-root.chitpayment-popup-membername-cell,
.chitpayment-card .MuiTableCell-root.chitpayment-popup-memberid-cell,
.chitpayment-card .MuiTableCell-root.chitpayment-popup-auctiondate-cell,
.chitpayment-card .MuiTableCell-root.chitpayment-popup-tktno-cell,
.chitpayment-card .MuiTableCell-root.chitpayment-popup-installno-cell{
  width: 49% !important;
  border-bottom: none;
}
.chitpayment-card .chitpayment-add-button-cell{
  display:block;
  width: 49%;
  padding: 0;
}
.chitpayment-add-table .MuiTableCell-root{
  display: block;
  padding: 15px 0;
  position: relative;
 
}
.chitpayment-add-table .MuiTableCell-root{
  border-bottom: 1px solid transparent !important;
  font-size: 13px;
} 
.chitpayment-add-table  .MuiTableCell-root::before{
  content: attr(data-label) " ";
  font-weight: bold;
  position: absolute;
  left: 0;
  top: -13px;
  width: 50%;
  padding-right: 10px;
  white-space: nowrap;
  margin-top: 10px !important;
}
}
@media (max-width:500px){
  .chitpayment-card .chitpayment-add-button-cell-text{
  font-size:11px !important;
}
}
@media (max-width:360px){
.chitpayment-add-table .MuiTableCell-root{
      font-size: 12px;
    } 
}
