.chitreceipt-list .custom-button{
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
 font-size: 15px;
 border-radius: 5px;
  
}
.chitreceipt-list .custom-button:hover{
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.chitreceipt-list  .input-box{
    width: 100%;
  }
  .chitreceipt-list  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
  
}
.chitreceipt-list{
  margin-right: 35px;
  margin-left: 35px;
}
.chitreceipt-list .search-text-field .MuiInputBase-input {
  padding: 8px;
}

.chitreceipt-list .search-icon-adornment {
  margin-right: -8px; 
}

.chitreceipt-list  .search-icon {
  margin-left: -12px; 
  width: 20px;
  height: 20px;
}
  @media(max-width:768px){
    .chitreceipt-list .custom-button{
      font-size: 14px;
    }
    .chitreceipt-list .mbl-view{
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 10px;
    }
    .chitreceipt-list{
      margin-right: 15px !important;
      margin-left: 15px !important;
    }
  }
    /* @media (min-width: 1200px) {
      .chitreceipt-list  .css-10o2lyd-MuiStack-root {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        scrollbar-width: none;
      }
    }  */