.chitreceipt-list .custom-button{
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
 font-size: 15px;
 border-radius: 5px;
  
}
.chitreceipt-list .custom-button:hover{
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.chitreceipt-list  .input-box{
    width: 100%;
  }
  .chitreceipt-list  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
  
}
.chitreceipt-list{
  margin-right: 35px;
  margin-left: 35px;
}
.chitreceipt-list .search-text-field .MuiInputBase-input {
  padding: 8px;
}

.chitreceipt-list .search-icon-adornment {
  margin-right: -8px; 
}

.chitreceipt-list  .search-icon{
  margin-left: -12px; 
  width: 20px;
  height: 20px;
}
  @media(max-width:768px){
    .chitreceipt-list .custom-button{
      font-size: 14px;
    }
    .chitreceipt-list .mbl-view{
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 10px;
    }
    .chitreceipt-list{
      margin-right: 15px !important;
      margin-left: 15px !important;
    }
  }
    /* @media (min-width: 1200px) {
      .chitreceipt-list  .css-10o2lyd-MuiStack-root {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        scrollbar-width: none;
      }
    }  */
    @media(max-width:547px){
      .chitreceipt-list{
        margin-left: 10px !important;
        margin-right: 10px !important;
      }
    }
  /* Mobile View */
  
    
   /* Mobile View */
  @media screen and (max-width: 768px){
    .chitreceipt-list {
      display: grid;
      gap: 10px;
      padding: 10px;
    }
    .chitreceipt-list .MuiTable-root{
      min-width:280px !important;
    }
    .chitreceipt-list .head-table {
      display: none !important; /* Hide table header on mobile */
    }

  .chitreceipt-list .chit-receipt-creditamount-cell{
    text-align: left !important;
  }
    .chitreceipt-list .MuiTableRow-root{
      display: block;
      padding: 15px 10px 0 10px;
      background: #fff;
      box-shadow: 0 2px 4px #0000001a;
      border: 1px solid #e7e7e7; 
      margin-bottom: 10px;
      border-radius: 8px;
      display: flex;
      flex-wrap: wrap!important;
    }
  .chitreceipt-list .chit-receipt-date-cell
  {
    margin-left: 0px !important;
    width: 49% !important;
  }
  .chitreceipt-list .chit-receipt-receiptno-cell,
  .chitreceipt-list .chit-receipt-groupno-cell,
  .chitreceipt-list .chit-receipt-membername-cell,
  .chitreceipt-list .chit-receipt-ticketno-cell,
  .chitreceipt-list .chit-receipt-instno-cell,
  .chitreceipt-list .chit-receipt-creditamount-cell{
    width: 49% !important;
  }

    .chitreceipt-list .MuiTableCell-root{
      display: block;
      padding: 15px 0;
      position: relative;
     
    }
  .chitreceipt-list .MuiTableCell-root{
    border-bottom: 1px solid transparent !important;
  } 
    .chitreceipt-list .MuiTableCell-root::before{
      content: attr(data-label) ": ";
      font-weight: bold;
      position: absolute;
      left: 0;
      top: -13px;
      width: 50%;
      padding-right: 10px;
      white-space: nowrap;
      margin-top: 10px !important;
    }
    .chitreceipt-list .MuiTableCell-root:not(.chitreceipt-list-action)::before{
      content: attr(data-label) " ";
      font-weight: bold;
      position: absolute;
      left: 0;
      top: -13px;
      width: 50%;
      padding-right: 10px;
      white-space: nowrap;
      margin-top: 5px;
    }
    
    .chitreceipt-list .MuiTableCell-root.chitreceipt-list-action::before{
      content: none;
    }
    .chitreceipt-list .row_table_box{
      position: relative;
    }
  .chitreceipt-list .chitreceipt-list-action{
  position: absolute;
  top:-11px;
  right:0;
    }
  }
  .chitreceipt-list .chitreceipt-list-action .chitreceipt-list-action_btn{
    /* padding: 0 8px; */
  }
  @media (max-width:400px){
    .chitreceipt-list .chit-receipt-date-cell,
    .chitreceipt-list .chit-receipt-receiptno-cell,
    .chitreceipt-list .chit-receipt-groupno-cell,
    .chitreceipt-list .chit-receipt-membername-cell,
    .chitreceipt-list .chit-receipt-ticketno-cell,
    .chitreceipt-list .chit-receipt-instno-cell,
    .chitreceipt-list .chit-receipt-creditamount-cell{
      /* width: 49% !important; */
      font-size: 12px;
    }  
    .chitreceipt-list .chit-receipt-groupno-cell .chitreceipt-grpno{
      font-size: 12px;
    }
    .chitreceipt-list .chitreceipt-list-action .chitreceipt-list-action_btn .dot-icon{ 
      width: 18px;
      height: 18px;
  }
  .chitreceipt-list .MuiTableCell-root::before{
    content: attr(data-label) ": ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 5px !important;
  }
}
 
  @media (max-width:380px){
      .chitreceipt-list .MuiTable-root{
          min-width: 180px !important;
      }
  }
  