.chitreceipt-add-screen .custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;
  border-radius: 5px;

}
.chitreceipt-add-screen{
  margin-left: 35px;
  margin-right: 35px;
}
.chitreceipt-add-screen .custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.chitreceipt-add-screen .receipt-box {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 60%;
}

.chitreceipt-add-screen .receipt-grp {
  flex: 1 0 48%;
  max-width: 48%;
  flex-wrap: wrap;
}

.chitreceipt-add-screen h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
  font-size: 15px;

}

/* .con{
  padding: 20px;
} */
.chitreceipt-add-screen .receipt-grp .input-box1 {
  margin-top: 5px;
  width: calc(100% - 10px) !important;
}

.chitreceipt-add-screen .receipt-grp .MuiAutocomplete-root {
  width: 100% !important;

}

.chitreceipt-add-screen .top-pd {
  margin-top: -16px;
}

.chitreceipt-add-screen .receipt-grp .MuiTextField-root {
  width: calc(100% - 0px) !important;
  margin-top: 5px;

}

.chitreceipt-add-screen .box-receipt-grp .MuiAutocomplete-root .MuiTextField-root {
  width: calc(100% - 20px) !important;
  margin-top: 5px;

}

.chitreceipt-add-screen .receipt-grp .MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 1px !important;
  font-size: 14px;
}
.chitreceipt-add-screen .grp-mbl {
  margin-left: 13px;
}
.chitreceipt-add-screen .alert-msg {
  display: flex;
  align-items: center;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}
.chitreceipt-add-screen .MuiAutocomplete-root .MuiAutocomplete-input{
  font-size: 15px !important;
}


.chitreceipt-add-screen .with-reduce{
  width:100px
}
@media screen and (max-width: 768px) {
  .chitreceipt-add-screen  h6.MuiTypography-root{
    margin-top: 0px !important;
  }
  .chitreceipt-add-screen{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .chitreceipt-add-screen .grp-mbl {
    margin-left: 8px !important;
}

  .chitreceipt-add-screen .grp-mbl {
    margin-left: 0px;
  }
  .chitreceipt-add-screen .receipt-grp {
    flex: 1 0 100%;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .chitreceipt-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
    margin-left: 0px;
  }

  .chitreceipt-add-screen .date-mbl {
    margin-top: 12px !important;
  }

  .chitreceipt-add-screen .receipt-grp .MuiTextField-root {
    width: 100% !important;
  }

  .chitreceipt-add-screen .receipt-grp {
    width: calc(100% - 0px) !important;
  }

  .chitreceipt-add-screen .grp-mbl {
    margin-top: 10px !important;
  }
.chitreceipt-add-screen .input{
  width: 100%;
}
  .chitreceipt-add-screen  .receipt-box {
    flex-direction: column !important;
  width: 90%;
  margin: 3px 10px;
    align-items: inherit;
    gap: 0px;
  }
 
  .chitreceipt-add-screen .alert-msg {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }

  .chitreceipt-add-screen .receipt-grp-label {
    width: calc(100% - 0px) !important;
  }

  .chitreceipt-add-screen .receipt-box .MuiTypography-root {
    /* margin-left: 16px !important; */
    font-size: 13px;
  }

  .chitreceipt-add-screen .receipt-grp1 {
    margin-left: 8px !important;
  }

  .chitreceipt-add-screen  .receipt-grp .box-d .MuiStack-root {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 0px) !important;
    padding-top: 0px !important;

  }

  .chitreceipt-add-screen  .receipt-grp .input {
    width: calc(100% - 0px) !important;
    margin-bottom: 5px;

  }

  .chitreceipt-add-screen  .con {
    padding: 10px;
  }
}

@media (max-width:1100px) and (min-width:769px) {
  .chitreceipt-add-screen .receipt-grp .input {
    width: calc(100% - 0px) !important;
    margin-bottom: 5px;

  }
  .chitreceipt-add-screen .grp-mbl {
    margin-left: 12px !important;
  }
  .chitreceipt-add-screen .con {
    padding: 10px;
  }

  .chitreceipt-add-screen h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
    margin-left: 0px;
  }

  .chitreceipt-add-screen .receipt-grp .MuiTextField-root {
    width: 100% !important;
  }

  .chitreceipt-add-screen .receipt-grp {
    width: calc(100% - 0px) !important;
  }

  .chitreceipt-add-screen .receipt-box {
   
    width: 80% !important;
    align-items: inherit;
    margin: 15px;
  }
}

@media (min-width:992px) and (max-width:1322px) {


  .chitreceipt-add-screen .receipt-grp .input {
    width: calc(100% - 0px) !important;
    margin-bottom: 5px;

  }
}

@media (min-width:370px) and (max-width:540px) {
  .chitreceipt-add-screen  .btn-close {
    right: -1px;
    top: -2px;
  }



  .chitreceipt-add-screen  .custom-button {
    font-size: 14px;
    margin-top: 10px;
  }

  .chitreceipt-add-screen  .btn-close img {
    width: 14px !important;
    height: 14px !important;
  }

  .chitreceipt-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;

  }



}

@media (min-width: 0px) {
  .chitreceipt-add-screen  .receipt-grp .box-d .MuiStack-root {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0px !important;

  }

  .chitreceipt-add-screen  .receipt-grp .box-d .MuiStack-root>.MuiTextField-root {
    margin-top: 5px;
    min-width: -webkit-fill-available !important;
  }
}
@media (min-width:460px) and (max-width:550px){

    .chitreceipt-add-screen .receipt-box {
        width: 93%;
}
.chitreceipt-add-screen .grp-mbl {
  margin-left: 8px !important;
}

  }
  @media (min-width:551px) and (max-width:768px){

    .chitreceipt-add-screen .receipt-box {
        width: 95%;
}
.chitreceipt-add-screen .grp-mbl {
  margin-left: 8px !important;
}

  }
@media(max-width:390px){
  .chitreceipt-add-screen .receipt-grp {
 
    margin-left: 8px !important;
}
.chitreceipt-add-screen .receipt-grp1 {
 
  margin-left: 8px !important;
}
.chitreceipt-add-screen .grp-mbl {
  margin-left: 8px !important;
}

}
/* mobile view */
/* mobile view */
@media(max-width:768px){
 .chitreceipt-popup-card .popup-input-stack.chit-receipt-add{
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
    margin: 8px 16px 0 16px;
  }
.chitreceipt-popup-card  .chitreceiptadd-popup-table .MuiTableCell-root{
    font-size: 13px;
  }
 .chitreceipt-popup-card .popup-input-chit-add.input-input{
    margin-left: 0;
  }
  /* .chitreceipt-add-screen .chitreceipt-popup-card{
    margin-right: 15px !important;
    margin-left: 15px !important;
  } */
}
  @media(max-width:547px){
 .chitreceipt-popup-card{
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  .chitreceipt-popup-card .chitreceiptadd-popup-table .MuiTableCell-root{
      font-size: 13px;
    }
  }
/* Mobile View */

  
 /* Mobile View */
 @media screen and (max-width: 768px){
 .chitreceipt-popup-card .MuiStack-root.chitreceiptadd-popup-table  {
    display: grid;
    gap: 10px;
    padding: 10px;
   
  }
  .chitreceipt-popup-card .chitreceipt-scrollbar{
    max-height:70vh; /* desired max-height */
    overflow-y: auto;  /* Allow scrolling */
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  .chitreceipt-popup-card .chitreceipt-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .chitreceipt-popup-card .chitreceipt-popup-table.MuiTable-root{
    min-width:100px !important;
  }
  .chitreceipt-popup-card .MuiTableRow-root.chitreceipt-addlist-popup-head-table{
    display: none !important; /* Hide table header on mobile */
  }
 .MuiTableRow-root.chit-receipt-popup-row_table_box{
    display: block;
    padding: 15px 10px 0 10px;
    background: #fff;
    box-shadow: 0 2px 4px #0000001a;
    border: 1px solid #e7e7e7; 
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap!important;
  }

.MuiTableCell-root.chit-receipt-popup-membername-cell,
.MuiTableCell-root.chit-receipt-popup-tktno-cell,
.MuiTableCell-root.chit-receipt-popup-phone-cell
{
  width: 60% !important;
  border-bottom: none;
}

.MuiTableCell-root.chit-receipt-popup-memnerid-cell,
.MuiTableCell-root.chit-receipt-popup-fcode-cell
{
  width: 40% !important;
  border-bottom: none;
}


.chitreceiptadd-popup-table .MuiTableCell-root{
    display: block;
    padding: 15px 0;
    position: relative;
   
  }
.chitreceiptadd-popup-table  .MuiTableCell-root{
  border-bottom: 1px solid transparent !important;
} 
 .chitreceiptadd-popup-table  .MuiTableCell-root::before{
    content: attr(data-label) ": ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 10px !important;
  }
 .chitreceiptadd-popup-table .MuiTableCell-root:not(.tick-pending)::before{
    content: attr(data-label) " ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 5px;
  }
  .chitreceiptadd-popup-table .MuiTableCell-root.tick-pending::before{
    content: none;
  }
 .chit-receipt-popup-row_table_box.MuiTableRow-root  {
    position: relative;
  }
.chitreceiptadd-popup-table  .tick-pending{
position: absolute;
top:0;
right:3%;
  }
}
@media (max-width:400px){
  .chitreceiptadd-popup-table .MuiTableCell-root{
    font-size: 12px;
  }
  .chitreceiptadd-popup-table .MuiTableCell-root .paidmember-icon { 
    width: 18px;
    height: 18px;
}

.chitreceipt-list .MuiTableCell-root::before{
  content: attr(data-label) ": ";
  font-weight: bold;
  position: absolute;
  left: 0;
  top: -13px;
  width: 50%;
  padding-right: 10px;
  white-space: nowrap;
  margin-top: 5px !important;
}
}

@media (max-width:400px){
  .chitreceipt-popup-table.MuiTable-root{
        min-width: 100px !important;
    }
}
@media (max-width:360px){
  .MuiTableCell-root.chit-receipt-popup-membername-cell,
  .MuiTableCell-root.chit-receipt-popup-memnerid-cell,
  .MuiTableCell-root.chit-receipt-popup-tktno-cell,
  .MuiTableCell-root.chit-receipt-popup-fcode-cell,
  .MuiTableCell-root.chit-receipt-popup-phone-cell
  {
    width: 100% !important;
    border-bottom: none;
  } 
}