.custom-button{
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
 font-size: 15px;
 
  
}
.custom-button:hover{
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.stack-box {
  display: flex !important;
  flex-wrap: wrap !important;
}
 .grp{
  width: 32% !important;
  flex-wrap: wrap;
}   
h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
  font-size: 15px;

}

/* .con{
  padding: 20px;
} */
.grp .input-box1 {
  margin-top: 5px;
   width: calc(100% - 10px);  
}
.grp .MuiAutocomplete-root {
  width: 100% !important;
   padding: -27px; */
}  
.grp .MuiTextField-root  {
  width: calc(100% - 0px) !important; 
 margin-top: 5px;
  
}
.box-grp .MuiAutocomplete-root  .MuiTextField-root  {
  width: calc(100% - 20px) !important; 
 margin-top: 5px;
  
}
.grp .MuiAutocomplete-root .MuiOutlinedInput-root {
   padding: 1px !important; 
   font-size: 14px ;
}
.alert-msg{
  display: flex;
  align-items: center;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}
.Muipopper-root{
  background-color: #ccc !important;
}
@media screen and (max-width: 768px) {
  .grp .MuiTextField-root {
    width: 100% !important;
  }
  .grp{
    width: calc(100% - 0px) !important; 
  }
  .stack-box{
      flex-direction: column !important;
      width: 100% !important;
      align-items:inherit;
      margin: 15px;
  }
  .alert-msg{
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }
  .grp-label{
    width: calc(97% - 0px) !important; 
  }
 
 .stack-box .MuiTypography-root {
  /* margin-left: 16px !important; */
  font-size: 13px;
 }
 .grp1{
  margin-left: 8px !important;
 } 
 .grp  .box-d .MuiStack-root {
  -webkit-flex-direction: column;
 -ms-flex-direction: column;
 flex-direction: column;
 width: calc(95% - 0px) !important; 
 padding-top: 0px !important;

}

.grp  .input {
      width: calc(90% - 0px) !important;
      margin-bottom: 5px; 
      
    }
    .con{
      padding: 10px;
    }
  }
  /* @media (min-width:769px) and (max-width:869px){
    .grp .MuiTextField-root{
       width: 20ch !important;
    } 
  }
  @media (min-width:869px) and (max-width:991px){
    .grp .MuiTextField-root{
       width: 24ch !important;
    } 
  }
  @media (min-width:992px) and (max-width:1218px){
    .grp .MuiTextField-root{
       width: 26ch !important;
    } 
  } */
  @media (max-width:991px) and (min-width:769px){
    .grp  .input {
      width: calc(90% - 0px) !important;
      margin-bottom: 5px; 
      
    }
    .con{
      padding: 10px;
    }
  
    .grp .MuiTextField-root {
      width: 100% !important;
    }
    .grp{
      width: calc(100% - 0px) !important; 
    }
    .stack-box{
        flex-direction: column !important;
        width: 100% !important;
        align-items:inherit;
        margin: 15px;
    }
   }
   @media (min-width:992px) and (max-width:1322px){
  
    .grp{
      width: 31.5% !important;
      flex-wrap: wrap;
    } 
    .grp  .input {
      width: calc(100% - 0px) !important;
      margin-bottom: 5px; 
      
    } 
   }
  @media (min-width:370px) and (max-width:540px){
    .btn-close{
      right: -1px;
      top: -2px;
    }

  
   
    .custom-button{
     font-size: 13px;
     margin-top: 10px;
    }
    .btn-close img{
      width: 14px !important;
      height: 14px !important;
    }
    h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
      font-size: 15px;
     
  }

 

  }
  @media (min-width: 0px) {
    .grp  .box-d .MuiStack-root {
         -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
     overflow: hidden;
        padding-top: 0px !important;

    }
    .grp  .box-d .MuiStack-root>.MuiTextField-root{
      margin-top: 5px;
      min-width: -webkit-fill-available !important;
  }
  }
  