.main-div{
    position: relative;
    z-index: 99;
    min-height: 1;
    display: flex;
  
}

.custom-header {
    background-color: #ffff !important;
}

.box-logo {

    margin-left: 15px;
}

.logo-chitly {
    width: 100%;
    height: 100%;
}
.simplebar-content-wrapper {
    scrollbar-width: thin;
}
@media (max-width:768px) {
   
    .box-logo {
      width: 100px;
   
          margin-left: 0px;
      }
    .logo-chitly {
        width: 100%;
        height: 100%;
    }
}