.chitpayment-list .custom-button{
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
 font-size: 15px;
 border-radius: 5px;
  
}
.chitpayment-list .custom-button:hover{
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.chitpayment-list  .input-box{
    width: 100%;
  }
  .chitpayment-list  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 15px;
  
}
.chitpayment-list{
  margin-left: 35px;
  margin-right: 35px;
}
.chitpayment-list .search-text-field .MuiInputBase-input {
  padding: 8px;
}

.chitpayment-list .search-icon-adornment {
  margin-right: -8px; 
}

.chitpayment-list  .search-icon {
  margin-left: -12px; 
  width: 20px;
  height: 20px;
}
  @media(max-width:768px){
    .chitpayment-list  .mbl-view{
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 10px;
    }
    .chitpayment-list{
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  @media(max-width:547px){
    .chitpayment-list{
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  }
/* Mobile View */

  
 /* Mobile View */
@media screen and (max-width: 768px) {
  .chitpayment-list {
    display: grid;
    gap: 10px;
    padding: 10px;
  }
  .chitpayment-list .MuiTable-root{
    min-width:280px !important;
  }
  .chitpayment-list .head-table {
    display: none !important; /* Hide table header on mobile */
  }
.chitpayment-list .debit{
  text-align: left  !important;
}
.chitpayment-list .action{
  text-align: left !important;
}
  .chitpayment-list .MuiTableRow-root {
    display: block;

    padding: 15px 10px;
    background: #fff;
    box-shadow: 0 2px 4px #0000001a;
    border: 1px solid #e7e7e7; 
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap!important;
  }
.chitpayment-list .date-cell
{
  margin-left: 0px !important;
  width: 49% !important;
}
.chitpayment-list .receipt-cell{
  width: 49%  !important;
}
.chitpayment-list .group-cell,
.chitpayment-list .member-cell,
.chitpayment-list .ticket-cell,
.chitpayment-list .inst-cell,
.chitpayment-list .debit,
.chitpayment-list .action{
  width: 49% !important;
}
  .chitpayment-list .MuiTableCell-root {
    display: block;
    padding: 15px 0;
    position: relative;
   
  }
.chitpayment-list .MuiTableCell-root{
  border-bottom: 1px solid transparent !important;
} 
  .chitpayment-list .MuiTableCell-root::before {
    content: attr(data-label) ": ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 5px;
  }
  .chitpayment-list .MuiTableCell-root:not(.action)::before {
    content: attr(data-label) " ";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    margin-top: 5px;
  }
  
  .chitpayment-list .MuiTableCell-root.action::before {
    content: none;
  }
  .chitpayment-list .row_table_box{
    position: relative;
  }
  .chitpayment-list .action_btn{
position: absolute;
top: -170px;
right: 0;
  }
  .chitpayment-list .MuiTableCell-root {
    /* padding-left: 42%; */
  }
}
@media (max-width:360px){
 
    .chitpayment-list .MuiTable-root {
        min-width: 240px !important;
    }
}
