.member-add-screen .custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;
border-radius: 5px;

}

.member-add-screen .custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.member-add-screen .rd-bx h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
  font-size: 15px;
  margin-left: 25px !important;
}

.member-add-screen .mem-box {

  display: flex !important;
  flex-wrap: wrap !important;
  width: 60%;
}

.member-add-screen .box {
  flex: 1 0 48%;
  max-width: 48%;
  flex-wrap: wrap;
}

.member-add-screen .box .input-box {
  margin-top: 5px !important;
  width: 150px !important;
}

.member-add-screen .box .input-box1 {
  margin-top: 5px !important;
  width: calc(100% - 20px) !important;
}

.member-add-screen .image-top {
  position: relative;
  margin-top: 20px;
}
.member-add-screen .alert-msg {
  display: flex;
  align-items: center;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}

.member-add-screen .row-box {
  display: flex;
  flex-wrap: wrap;
}

.member-add-screen .boxing {
  border: 1px solid #eee;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  margin: 8px !important;
  flex-wrap: wrap;
}

.member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
  margin-left: -2px;
}

.member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
  margin-left: 27px;
}

.member-add-screen .radio-box .radio-control.MuiFormControlLabel-root {
  margin-left: 5px;
}

.member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
  margin-left: 3px;
}

.member-add-screen .radio-box .MuiFormControlLabel-root {
  margin-left: 15px;
  margin-right: 15px;
}

.member-add-screen .error_txt {
  margin-left: 15px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
  font-weight: 500
}
.member-add-screen .livingIn-_error{
  margin-top: -5px;
}
.add-margin {
  margin-left: 23px !important;
  margin-top: -5px !important;
}
.member-add-screen .img-stockc .proof_img{
  width: 120px;
  height: 120px;

}
.member-add-screen .upload{
  margin-left: 10px;
}
.member-add-screen .can-img {
width: 10px;
height: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.member-add-screen .btn-click{
  position: absolute;
    top: -35%;
    right: -15%;
    border-radius: 50%;
    background-color: #f1eeee;
    min-width: 25px; 
    padding: 8px 8px;
}
.member-add-screen .MuiTextField-root{
  margin: 5px 16px;
}
.member-add-screen .img-click:hover {
  background-color: #f1eeee;
  cursor:pointer;
}
.member-add-screen{
  margin-left: 35px;
  margin-right: 35px;
}
.member-add-screen .img-box {
  width: 135px ;
  height: 135px ;
}
/* .dialog .MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 13px !important;
  padding: 9.5px 14px !important; 
} */
 @media (min-width:430px) and (max-width:768px){
  .member-add-screen .btn-click{
    position: absolute;
      top: -35%;
      right: -8%;
 }
 .member-add-screen .image-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
}
 @media screen and (max-width:350px){
  .member-add-screen{
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .member-add-screen .dialog-sizing .MuiPaper-root{
    width: 100%;
    max-width:270px;
    padding: 10% !important;
                       
  }
  .member-add-screen .btn-top{
    margin-top: 5%;
    /* margin-left: 5%; */
  }
  .member-add-screen .upload-btn{
    width: 95px;
    font-size: 12px;
  }
  .member-add-screen .save-btn{
    font-size: 12px;
  }
  .member-add-screen .MuiFormControl-root{
    width: 95px !important;
    /* margin-left: 5px !important; */
  }
  
  .member-add-screen .Muistack-root{
    width: 95px;
    margin-left: 10% !important;
  }
  .member-add-screen .MuiTextField-root{
    width: 95px;
  }
  .member-add-screen .dialog .MuiInputBase-root{
  width: 95px;
  margin-right: 10%;
  }
  .member-add-screen .dialog .MuiInputBase-input{
    
    width:80px;
    font-size: 12px;
    padding: 2px;
    

  }
  .member-add-screen .img-row .proof_img{
    width: 110px !important;
    height: 110px !important;
    /* margin-left: 10% !important; */
  }
  .radio-btn{
    width: 80%;
    height:80%;
  }
  .radio-label{
    font-size: 0.9rem !important;
    width: 80%;
    height:80%;
  }
 }
 @media (min-width:451px) and (max-width:899px){
  .member-add-screen .dialog-sizing .MuiPaper-root{
    width: 100%;
    max-width:300px;
    
                       
  }
  .member-add-screen .btn-top{
    margin-top: 5%;
    /* margin-left: 5%; */
  }
  .member-add-screen .upload-btn{
    width: 120px;
    font-size: 14px;
  }
  .member-add-screen .save-btn{
    font-size: 14px;
  }
  .member-add-screen .MuiFormControl-root{
    width: 120px !important;
    /* margin-left: 5px !important; */
  }
  .member-add-screen .MuiTextField-root{
    width: 120px;
  }
  .member-add-screen .Muistack-root{
    width: 120px;
    /* margin-left: 10px !important; */
  }

  .stack-box {
    width: 100%;
  }
  .dialog .MuiInputBase-root{
  width: 100px;
  margin-right: 10%;
  }
  .member-add-screen .dialog .MuiInputBase-input{
    
    width:80px;
    font-size: 14px;
    padding: 2px;
    

  }
  .member-add-screen .img-row .proof_img{
    width: 120px !important;
    height: 120px !important;
  }
 }
@media (min-width:769px) and (max-width:990px) {
  .member-add-screen .box-grp {
    flex: 1 0 48%;
    max-width: 48%;
    flex-wrap: wrap;
  }


  .stack-box {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .member-add-screen .upload{
    margin-left: 10px;
  }
  .member-add-screen .custom-button {
    font-size: 14px;
    margin-left: 20px;
  }
  .member-add-screen {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
  .member-add-screen .mem-box {
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit;
  }

  .member-add-screen .stack-boxing {
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit;
  }

  .member-add-screen .box {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0px !important;
  }

  .member-add-screen .alert-msg {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }

  .member-add-screen .box .input-box1 {
    width: calc(100% - 0px) !important;
    
  }

  .member-add-screen .box .input-box {
    width: 140px !important;
    
  }

  .member-add-screen .MuiTabPanel-root {
    padding: 10px 0px !important;
  }

  .member-add-screen .req {
    margin-left: 15px !important;
    
  }
  .member-add-screen .image-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .boxing{
    width: 45%;
  }
  .member-add-screen .img-box {
  width: 115px !important;
  height: 115px !important;
}
.member-add-screen .btn-click {
  top: -40%;
}
}

@media screen and (max-width: 1404px) and (min-width: 1300px) {
  .member-add-screen .radio-box .radio-con.MuiFormControlLabel-root {
    margin-left: 27px;
  }

  .member-add-screen .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 2px;
  }

  .member-add-screen .radio-box .radio-sub.MuiFormControlLabel-root {
    margin-left: 15px !important;
  }

  .member-add-screen .rd_bx {
    flex: 0 0 46%;
    max-width: 46%;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1600px) {
  .member-add-screen .rd_bx .radio-box {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .member-add-screen .radio-box .radio-sub.MuiFormControlLabel-root {
    margin-left: 15px !important;
  }

  .member-add-screen .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1405px) {
  .member-add-screen .radio-box .radio-con.MuiFormControlLabel-root {
    margin-left: 27px;
  }

  .member-add-screen .radio-box .radio-sub.MuiFormControlLabel-root {
    margin-left: 15px !important;
  }

  .member-add-screen .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 2px;
  }

  .member-add-screen .rd_bx .radio-box .MuiStack-root {
    width: 90%;
  }

  .member-add-screen  .rd_bx .radio-box {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 1305px) and (min-width: 1200px) {

  /* .radio-box  .MuiFormControlLabel-root{
      margin-left: 10px;
      margin-right: 10px;
    } */
    .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 35px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: -3px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .member-add-screen  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 40px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 43px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -4px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 68px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: -14px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 40px;
  }
}

@media (min-width:769px) and (max-width:894px) {
  .member-add-screen .box {
    flex: 1 0 48%;
    max-width: 48%;
    flex-wrap: wrap;
  }
}
@media(min-width:414px) and (max-width:510px){
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 40px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 43px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -4px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 68px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: -14px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 40px;
  }
}
@media(min-width:474px) and (max-width:534px){
  .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 17px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .member-add-screen  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 25px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -4px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 68px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: -14px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 40px;
  }
 
 
  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -9px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 68px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: -14px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 15px;
  }
}
@media(min-width:535px) and (max-width:597px){
  .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 17px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .member-add-screen  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 25px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -4px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 35px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 14px;
  }
 
 
 
}

@media(min-width:598px) and (max-width:614px){
  .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 17px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .member-add-screen  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 31px;
  }
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 42px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -4px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 35px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 14px;
  }
 
 
 
}
@media(min-width:615px) and (max-width:768px){
  .member-add-screen .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 17px;
  }

  .member-add-screen .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .member-add-screen  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 60px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 35px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: 15px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 14px;
  }
 
 
 
}
@media (min-width:320px) and (max-width:413px) {
  .member-add-screen  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 14.5px;
    /* margin-top: 2px;
  margin-bottom: -9px; */
  }

  .member-add-screen .custom-button {
    font-size: 13px;
    
  }
  .member-add-screen .upload-btn{
    width: 120px;
    height: 35px;
  }
  .member-add-screen .dialog {
  text-overflow: ellipsis;
}
.member-add-screen .css-1alklks{
  padding: 5px !important;
}
.member-add-screen .inf {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    margin-left: 25px !important;
  }

  .member-add-screen .radio-box .MuiTypography-root {
    font-size: 14px !important;
  }

  .member-add-screen .radio-box .MuiSvgIcon-root {
    font-size: 1.5rem;
    width: 15px;
    height: 19px;
  }
  .member-add-screen .radio-box .radio-gra.MuiFormControlLabel-root {
    margin-left: 35px;
  }

  .member-add-screen .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 35px;
  }

  .member-add-screen .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: -4px;
  }
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-left: 58px;
  }
  .member-add-screen .radio-box .radio-div.MuiFormControlLabel-root {
    margin-left: -14px;
  }
  .member-add-screen .radio-box .radio-gr.MuiFormControlLabel-root {
    margin-left: 34px;
  }
  .member-add-screen .lab-radio .MuiSvgIcon-root {
    font-size: 1.5rem;
    width: 15px;
    height: 19px;
  }
}

@media (max-width: 1100px) {
  .member-add-screen  .date-pick {
    width: 100%;
    /* Adjust as needed for mobile view */
  }
}

/* @media (min-width: 1101px) {
  .date-pick {
      width: 550px; 
  }
} */
@media (min-width: 0px) {
  .member-add-screen .box .box-d .MuiStack-root {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    padding-top: 0px !important;
  }

  .member-add-screen .box .box-d .MuiStack-root>.MuiTextField-root {
    min-width: -webkit-fill-available !important;
    margin-top: 5px;
    font-size: 14px;
  }
}
@media(max-width:360px){
  .member-add-screen .radio-box .radio-married.MuiFormControlLabel-root {
    margin-right: 36px;
  }
}
