.custom-button {
  color: #FFFFFF;
  background-color: #1877F2;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  font-size: 15px;


}

.custom-button:hover {
  text-decoration: none;
  background-color: #0C44AE;
  box-shadow: 0px 2px 4px -1px rgba(145, 158, 171, 0.2), 0px 4px 5px 0px rgba(145, 158, 171, 0.14), 0px 1px 10px 0px rgba(145, 158, 171, 0.12);
}

.rd-bx h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
  font-size: 15px;
  margin-left: 25px !important;
}

.stack-box {

  display: flex !important;
  flex-wrap: wrap !important;
  width: 60%;
}

.box {
  flex: 1 0 48%;
  max-width: 48%;
  flex-wrap: wrap;
}

.box .input-box {
  margin-top: 5px !important;
  width: 150px !important;
}

.box .input-box1 {
  margin-top: 5px !important;
  width: calc(100% - 20px) !important;
}

.image-top {
  position: relative;
  margin-top: 20px;
}

.btn-click {
  position: absolute;
  right: -21px;
  top: -47px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #eee;
  padding: 7px !important;
  cursor: pointer;
  min-width: 30px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-msg {
  display: flex;
  align-items: center;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}

.row-box {
  display: flex;
  flex-wrap: wrap;
}

.boxing {
  border: 1px solid #eee;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  margin: 8px !important;
  flex-wrap: wrap;
}

.radio-box .radio-control3.MuiFormControlLabel-root {
  margin-left: -2px;
}

.radio-box .radio-control2.MuiFormControlLabel-root {
  margin-left: 27px;
}

.radio-box .radio-control.MuiFormControlLabel-root {
  margin-left: 5px;
}

.radio-box .radio-control1.MuiFormControlLabel-root {
  margin-left: 3px;
}

.radio-box .MuiFormControlLabel-root {
  margin-left: 15px;
  margin-right: 15px;
}

.member-add-screen .error_txt {
  margin-left: 15px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
  font-weight: 500
}

.add-margin {
  margin-left: 23px !important;
  margin-top: -5px !important;
}
.img-stockc .proof_img{
  width: 120px;
  height: 120px;

}

/* .dialog .MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 13px !important;
  padding: 9.5px 14px !important; 
} */
 @media screen and (max-width:350px){
  .dialog-sizing .MuiPaper-root{
    width: 100%;
    max-width:270px;
    padding: 10% !important;
                       
  }
  .btn-top{
    margin-top: 5%;
    /* margin-left: 5%; */
  }
  .upload-btn{
    width: 95px;
    font-size: 12px;
  }
  .save-btn{
    font-size: 12px;
  }
  .MuiFormControl-root{
    width: 95px !important;
    /* margin-left: 5px !important; */
  }
  
   .Muistack-root{
    width: 95px;
    margin-left: 10% !important;
  }
  .MuiTextField-root{
    width: 95px;
  }
  .dialog .MuiInputBase-root{
  width: 95px;
  margin-right: 10%;
  }
  .dialog .MuiInputBase-input{
    
    width:80px;
    font-size: 12px;
    padding: 2px;
    

  }
   .img-row .proof_img{
    width: 110px !important;
    height: 110px !important;
    /* margin-left: 10% !important; */
  }
 }
 @media (min-width:451px) and (max-width:899px){
  .dialog-sizing .MuiPaper-root{
    width: 100%;
    max-width:300px;
    
                       
  }
  .btn-top{
    margin-top: 5%;
    /* margin-left: 5%; */
  }
  .upload-btn{
    width: 120px;
    font-size: 14px;
  }
  .save-btn{
    font-size: 14px;
  }
  .MuiFormControl-root{
    width: 120px !important;
    /* margin-left: 5px !important; */
  }
  .MuiTextField-root{
    width: 120px;
  }
   .Muistack-root{
    width: 120px;
    /* margin-left: 10px !important; */
  }
  .dialog .MuiInputBase-root{
  width: 100px;
  margin-right: 10%;
  }
  .dialog .MuiInputBase-input{
    
    width:80px;
    font-size: 14px;
    padding: 2px;
    

  }
   .img-row .proof_img{
    width: 120px !important;
    height: 120px !important;
  }
 }
@media (min-width:769px) and (max-width:990px) {
  .box-grp {
    flex: 1 0 48%;
    max-width: 48%;
    flex-wrap: wrap;
  }

  .stack-box {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .stack-box {
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit;
  }

  .stack-boxing {
    flex-direction: column !important;
    width: 100% !important;
    align-items: inherit;
  }

  .box {
    flex: 1 0 100%;
    max-width: 100%;
    margin-left: 0px !important;
  }

  .alert-msg {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }

  .box .input-box1 {
    width: calc(100% - 0px) !important;
  }

  .box .input-box {
    width: 140px !important;

  }

  .MuiTabPanel-root {
    padding: 10px !important;
  }

  .req {
    margin-left: 15px !important;
    
  }

  .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 15px;
  }

}

@media screen and (max-width: 1404px) and (min-width: 1300px) {
  .radio-box .radio-con.MuiFormControlLabel-root {
    margin-left: 27px;
  }

  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 2px;
  }

  .radio-box .radio-sub.MuiFormControlLabel-root {
    margin-left: 15px !important;
  }

  .rd_bx {
    flex: 0 0 46%;
    max-width: 46%;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1600px) {
  .rd_bx .radio-box {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .radio-box .radio-sub.MuiFormControlLabel-root {
    margin-left: 15px !important;
  }

  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .radio-box .radio-sec.MuiFormControlLabel-root {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1405px) {
  .radio-box .radio-con.MuiFormControlLabel-root {
    margin-left: 27px;
  }

  .radio-box .radio-sub.MuiFormControlLabel-root {
    margin-left: 15px !important;
  }

  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 2px;
  }

  .rd_bx .radio-box .MuiStack-root {
    width: 90%;
  }

  .rd_bx .radio-box {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 1305px) and (min-width: 1200px) {

  /* .radio-box  .MuiFormControlLabel-root{
      margin-left: 10px;
      margin-right: 10px;
    } */
  .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 35px;
  }

  .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: -3px;
  }

  .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }
}

@media (min-width:769px) and (max-width:1017px) {
  .radio-box .radio-control2.MuiFormControlLabel-root {
    margin-left: 15px;
  }

  .radio-box .radio-control3.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .radio-box .radio-control1.MuiFormControlLabel-root {
    margin-left: 10px;
  }

  .radio-box .radio-control.MuiFormControlLabel-root {
    margin-left: 15px;
  }
}

@media (min-width:769px) and (max-width:894px) {
  .box {
    flex: 1 0 48%;
    max-width: 48%;
    flex-wrap: wrap;
  }
}

@media (min-width:370px) and (max-width:540px) {
  h6.MuiTypography-root.MuiTypography-subtitle1.MuiTypography-root {
    font-size: 14.5px;
    /* margin-top: 2px;
  margin-bottom: -9px; */
  }

  .custom-button {
    font-size: 13px;
    margin-top: 10px;
  }
  .upload-btn{
    width: 120px;
    height: 35px;
  }
.dialog {
  text-overflow: ellipsis;
}
  .inf {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    margin-left: 25px !important;
  }

  .radio-box .MuiTypography-root {
    font-size: 14px !important;
  }

  .radio-box .MuiSvgIcon-root {
    font-size: 1.5rem;
    width: 15px;
    height: 19px;
  }
}

@media (max-width: 1100px) {
  .date-pick {
    width: 100%;
    /* Adjust as needed for mobile view */
  }
}

/* @media (min-width: 1101px) {
  .date-pick {
      width: 550px; 
  }
} */
@media (min-width: 0px) {
  .box .box-d .MuiStack-root {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    padding-top: 0px !important;
  }

  .box .box-d .MuiStack-root>.MuiTextField-root {
    min-width: -webkit-fill-available !important;
    margin-top: 5px;
    font-size: 14px;
  }
}